<div class="nav">
 <div class= "nav-list">
  <%= link_to root_path do %>
  <h4 class="nav-list-home">HOME</h4>
  <% end %>

  <% super_categories.each do |super_category| %>
    <div class="nav-dropdown">
      <div class="nav-dropdown-top">
        <h4 class= "nav-list-item nav-dropdown-top-item"> <%=super_category.name.upcase%></h4>
      </div>
      <div class="nav-dropdown-bottom">
        <h4> <%= button_to "#{super_category.name.upcase} ÜBERSICHT", products_path, method: :get, params: {products: {super_category: super_category.name}}, class: "nav-list-item nav-dropdown-bottom-item" %></h4>
        <% super_category.categories.each do |category| %>
          <h4> <%= button_to "#{category.name.upcase}", products_path, method: :get, params: {products: {category: category.name}}, class: "nav-list-item nav-dropdown-bottom-item" %></h4>
        <% end %>
      </div>
    </div>
  <% end %>
  <h4 class="nav-list-item">WARENKORB</h4>
  <span class="nav-list-burger"><i id="burger-icon" class="fas fa-bars"></i></span>
 </div>
</div>

<div class="sidebar-box">
  <div class="sidebar-grey"></div>
  <div class="sidebar">
    <div class= "sidebar-list ">
     <h4 class="sidebar-list-home sidebar-list-item">HOME <i id="arrow-icon" class="fas fa-chevron-right"></i></h4>
     <% super_categories.each do |super_category| %>
       <h4> <%= button_to "#{super_category.name.upcase}", products_path, method: :get, params: {products: {super_category: super_category.name}}, class: "sidebar-list-item" %></h4>
     <% end %>
     <h4 class="sidebar-list-item">WARENKORB</h4>
    </div>
    <div class="sidebar-footer">
     <div class="sidebar-footer-top">
       <h3>Heimhauserstr. 6 | Müncher Freiheit</h3>
       <h3>ÖFFNUNGSZEITEN | Mo-Do 13.30-19 Uhr | Fr 12-13 Uhr & 14.30-19 Uhr | Sa 10.30 -12.30 Uhr</h3>
     </div>
     <div class="sidebar-footer-bottom">
       <h3>KONTAKT</h3>
       <h3>IMPRESSUM</h3>
       <h3>SERVICE & KONDITIONEN</h3>
     </div>
    </div>
  </div>

</div>





