<div class="card-product">
  <% if product.photo.attached?  %>
    <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <%= image_tag 'logo.png' %>
  <% end %>
  <div class="card-product-infos">
    <div class="card-product-infos-top">
      <h3><%= product.name %></h3>
      <p><%= product.year %></p>
    </div>
    <div class="card-product-infos-middle">
      <p><%= product.description %></p>
    </div>
    <div class="card-product-infos-bottom">
      <p><%= product.volume %></p>
      <p><%= humanized_money_with_symbol(product.price)%></p>
      <%= button_to "Hinzufügen", line_items_path(:product_id => product.id) %>
    </div>
  </div>
</div>
