<div class="card-product">
  <% if product.photo.attached?  %>
    <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <%= image_tag 'barthel.png' %>
  <% end %>
  <div class="card-product-infos">
    <div class="card-product-infos-top">
      <h3><%= product.name %></h3>
      <p><%= product.year %></p>
    </div>
    <div class="card-product-infos-middle">
      <p><%= product.description %></p>
    </div>
    <div class="card-product-infos-bottom">
      <p><%= product.volume %></p>
      <div class="card-product-infos-bottom-right">
        <p> <strong><%= humanized_money_with_symbol(product.price)%></strong></p>
        <%= button_to line_items_path(:product_id => product.id), class: "card-product-infos-bottom-button"  do%>
          <p><i class="fas fa-shopping-cart"></i></p>
        <% end %>
      </div>

    </div>
  </div>
  <div class="card-product-special">
    <% if product.fresh %>
      <div class="card-product-special-fresh">
         <p><strong>NEU</strong></p>
      </div>
    <% end %>
  </div>
</div>
