
<% if product.line_items.empty? %>
  <p><%= link_to "Hinzufügen", line_items_path(product_id: product.id),remote: true ,method: :post %></p>
<% end %>
<%product.line_items.each do |item|%>
  <p><%= item.quantity %></p>
  <p><%= link_to "Plus ", line_item_add_path(id: item.id),  remote: true ,method: :post %> <%= link_to "Minus", line_item_reduce_path(id: item.id), remote: true ,method: :post %></p>

<% end %>
 <p>weiterstöbern</p><p> <%= link_to "Warenkorb", cart_path(@current_cart) %></p>

