<div class="con">
  <div class="side"></div>
  <div class="middle ">

    <%= render 'shared/navbar', super_categories: @super_categories %>

    <%= simple_form_for :products, url: products_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :query, input_html: {value: ""} %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>


    <% @super_categories.each do |super_category| %>
      <h1><%= super_category.name %></h1>
      <% super_category.categories.each do |category| %>
        <%= button_to "#{category.name}", products_path, method: :get, params: {products: {category: category.name}}, class: "" %>
        <% end %>
      <% end %>
  </div>
  <div class="side"></div>
</div>



