<div class="con">
  <div class="side"></div>
  <div class="middle overview "><%= render 'shared/navbar', super_categories: @super_categories %>
    <div class="overview-headline">
      <h1>UNSER SORTIMENT</h1>
    </div>

    <div class="overview-search">
      <%= simple_form_for :products, url: products_path, method: "GET" do |f| %>
        <%= f.input :query, input_html: {value: ""} %>
        <%= f.submit "SUCHEN", class: "btn btn-primary" , id:'btn-search'%>
      <% end %>
    </div>

    <div class="overview-product">
      <% @super_categories.each do |super_category| %>
      <div class="overview-product-category-static">
        <% super_category.categories.first(4).each do |category| %>
          <h3><%= button_to "#{category.name.upcase}", products_path, method: :get, params: {products: {category: category.name}}, class: "overview-product-category-item" %></h3>
          <% end %>
      </div>
      <div class="overview-product-super_category">
        <h1 class= "overview-product-super_category-item"><%=super_category.name %></h1>
      </div>
      <div class="overview-product-category-static">
        <% if super_category.categories.length > 4 %>
        <% super_category.categories.last(super_category.categories.length-4).each do |category| %>
          <h3><%= button_to "#{category.name.upcase}", products_path, method: :get, params: {products: {category: category.name}}, class: "overview-product-category-item" %></h3>
          <% end %>
        <% end %>
      </div>

      <div class="space">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="overview-product-category-slider">
        <% super_category.categories.each do |category| %>
          <h3><%= button_to "#{category.name.upcase}", products_path, method: :get, params: {products: {category: category.name}}, class: "overview-product-category-item" %></h3>
          <% end %>
      </div>
      </div>


      <% end %>
    </div>



  </div>
  <div class="side"></div>
</div>



