<div class="con">
  <div class="side"></div>
  <div class="middle overview "><%= render 'shared/navbar', super_categories: @super_categories %>
    <div class="overview-headline">
      <h1>Warenkorb</h1>
    </div>

    <div class="overview-product">
      <ul>
        <% @cart.line_items.each do |line_item| %>
          <li><%= line_item.product.name %>/ Preis: <%= humanized_money_with_symbol(line_item.product.price) %>/ Anzahl: <%= line_item.quantity %>/ Preis gesamt: <%= humanized_money_with_symbol(line_item.total_price) %>
          <ul>
            <li>
              <%= link_to "Plus", line_item_add_path(:id => line_item), method: :post %>
              <%= link_to "Minus", line_item_reduce_path(:id => line_item), method: :post %>
            </li>
            <li>
              <%= link_to "Löschen", line_item_path(line_item), method: :delete %>
            </li>
          </ul>
        <% end %>
      </ul>
      <h3>Gesamt: <%= humanized_money_with_symbol(@cart.sub_total) %></h3>
      <%= link_to "Warenkorb leeren", cart_path(@current_cart),method: :delete, data: {confirm: "Sind Sie sicher?"} %>
    </div>



  </div>
  <div class="side"></div>
</div>













