<div class="con">
  <div class="side"></div>
  <div class="middle">
    <%= render 'shared/navbar', super_categories: @super_categories %>


      <% @categories.each do|category| %>
        <% if category.products.present? %>
          <div class="category-name">
            <h2 ><%= category.name.upcase %></h2>
          </div>

          <% if category.super_category.name == 'Weine' %>
            <div class="country-selection">
              <%category.countries.uniq.each do |country| %>
                <div class="country-selection-card">
                  <% if country.photo.attached?  %>
                    <%= cl_image_tag country.photo.key, height: 60, width: 60, crop: :fill %>
                  <% else %>
                    <%= image_tag 'logo.png' %>
                  <% end %>
                  <h4 class="country-selection-button" ><%= country.name.upcase %></h4>
                </div>

              <% end %>
            </div>

            <%category.countries.uniq.each do |country| %>
              <div class="country-wines">
                <h3 class="country-name"><%= country.name.upcase %></h3>
                <%country.headers.uniq.each do |header| %>
                  <h3 class="header-name"><%= header.name.upcase %></h3>
                  <%header.products.each do |product| %>
                    <%= render 'shared/product-card', product: product %>
                  <% end %>
                <% end %>
              </div>

            <% end %>
            <% else %>
              <%category.headers.uniq.each do |header| %>
                <h3 class="header-name"><%= header.name.upcase %></h3>
                <%header.products.each do |product| %>
                  <%= render 'shared/product-card', product: product %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

      <%end %>

  </div>
  <div class="side"></div>
</div>


