<div class="container">
  <%= render 'shared/navbar', super_categories: @super_categories %>
   <% if @search.present? %> <!-- until pg:multisearchable inculded -->

    <%@products.each do |product| %>
      <p><%= product.name %></p>
    <% end %>

   <% else %>

     <%= @categories[0].super_category.name%>
      <% @categories.each do|category| %>
        <% if category.products.present? %>
          <h1><%= category.name %></h1>
          <%category.headers.uniq.each do |header| %>
            <h2><%= header.name %></h2>
            <%header.products.each do |product| %>
              <p><%= product.name %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

    <% end %>

</div>
