<div class="container">
  <%= render 'shared/navbar', super_categories: @super_categories %>

  <% if @super_category.present? %>
    <h1><%= @super_category.name %></h1>
    <%@categories.each do |category| %>
     <h2><%= category.name %></h2>
     <% end %>
       <% @products.each do|product| %>
   <%= product.name %>
  <% end %>





  <% else %>
    <h1><%= @category.name %></h1>
      <% @products.each do|product| %>
   <%= product.name %>
  <% end %>
  <%end %>


</div>
