<div class="con">
  <div class="side"></div>
  <div class="middle">
    <%= render 'shared/navbar', super_categories: @super_categories %>

    <% if @category_overview.present? %>
      <div class="category_overview">
        <% @category_overview.each do |category| %>
          <% if category.super_category.name == 'Barthel Spezial' %>
           <%= button_to recommended_path, method: :get, class: "category-overview-item" do%>
             <h2>EMPFEHLUNGEN</h2>
           <% end %>
          <% end %>
          <%= button_to products_path, method: :get, params: {products: {category: category.name}}, class: "category-overview-item" do%>
            <h2><%= category.name.upcase%></h2>
          <% end %>
        <% end %>
      </div>



    <% elsif @search.present? %>
      <% if @products.present? %>
        <div class="category-name">
          <h3> Unsere Ergebnisse zu  <i><%=@query%></i></h3>
        </div>
         <%@products.each do |product| %>
          <%= render 'shared/product-card', product: product %>
         <% end %>
      <% else %>
        <div class="category-name">
          <h3> Leider konnten wir zu Ihrer Suche keine Produkte in unserem Sortiment finden</h3>
        </div>
      <% end %>
    <% else %>
      <% if @category.present? && @category.products.present? %>
        <div class="category-name">
          <h2 ><%= @category.name.upcase %></h2>
        </div>

        <% if @category.super_category.name == 'Weine' %>
          <div class="country-selection">
            <%@category.countries.uniq.each do |country| %>
              <div class="country-selection-card">
                <% if country.photo.attached?  %>
                  <%= cl_image_tag country.photo.key, height: 60, width: 60, crop: :fill %>
                <% else %>
                  <%= image_tag 'globe.svg' %>
                <% end %>
                <h4 class="country-selection-button" ><%= country.name.upcase %></h4>
              </div>

            <% end %>
          </div>

          <%@category.countries.uniq.each do |country| %>
            <div class="country-wines">
              <h3 class="country-name"><%= country.name.upcase %></h3>
              <% @category.headers.uniq.each do |header| %>
                <% if  header.countries.include?(country) %>
                  <h3 class="header-name"><%= header.name.upcase %></h3>
                <% end %>
                <%@category.products.each do |product| %>
                    <% if product.country == country && product.header == header%>
                      <%= render 'shared/product-card', product: product %>
                    <%end %>
                <% end %>
              <% end %>
            </div>

          <% end %>

        <% else %>
          <%@category.headers.uniq.each do |header| %>
            <h3 class="header-name"><%= header.name.upcase %></h3>
            <%header.products.each do |product| %>
              <%= render 'shared/product-card', product: product %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <div class="side"></div>
</div>


