<div class="con">
  <div class="side"></div>
  <div class="middle">
    <%= render 'shared/navbar', super_categories: @super_categories %>


      <% @categories.each do|category| %>
        <% if category.products.present? %>
          <div class="category-name">
            <h2 ><%= category.name.upcase %></h2>
          </div>

          <% if category.super_category.name == 'Weine' %>
            <div class="country-selection">
              <%category.countries.uniq.each do |country| %>
                <div class="county-selection-card">
                  <% if country.icon.present?  %>
                  <%= image_tag country.icon %>
                  <% end %>
                  <h3 class="country-selection-button" ><%= country.name.upcase %></h3>
                </div>

              <% end %>
            </div>

            <%category.countries.uniq.each do |country| %>
              <div class="country-wines">
                <h3 class="country-name"><%= country.name.upcase %></h3>
                <%country.headers.uniq.each do |header| %>
                  <h3 class="header-name"><%= header.name.upcase %></h3>
                  <%header.products.each do |product| %>

                    <div class="card-product">
                      <% if product.photo.attached?  %>
                        <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
                      <% else %>
                        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                      <% end %>
                      <div class="card-product-infos">
                        <div class="card-product-infos-top">
                          <h3><%= product.name %></h3>
                          <p><%= product.year %></p>
                        </div>
                        <div class="card-product-infos-middle">
                          <p><%= product.description %></p>
                        </div>
                        <div class="card-product-infos-bottom">
                          <p><%= product.volume %></p>
                          <p><%= product.price%>€</p>
                          <%= button_to "Hinzufügen", line_items_path(:product_id => product.id) %>
                        </div>
                      </div>
                    </div>

                  <% end %>
                <% end %>

              </div>

            <% end %>
            <% else %>
              <%category.headers.uniq.each do |header| %>
                <h3 class="header-name"><%= header.name.upcase %></h3>
                <%header.products.each do |product| %>

                  <div class="card-product">
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                    <div class="card-product-infos">
                      <div class="card-product-infos-top">
                        <h3><%= product.name %></h3>
                        <p><%= product.year %></p>
                      </div>
                      <div class="card-product-infos-middle">
                        <p><%= product.description %></p>
                      </div>
                      <div class="card-product-infos-bottom">
                        <p><%= product.volume %></p>
                        <p><%= product.price%>€</p>
                        <%= button_to "Hinzufügen", line_items_path(:product_id => product.id) %>
                      </div>

                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>





      <%end %>



  </div>
  <div class="side"></div>
</div>


