<div class="con">
  <div class="side"></div>
  <div class="middle"><%= render 'shared/navbar', super_categories: @super_categories %>
    <% if @search.present? %> <!-- until pg:multisearchable inculded -->
      <%@products.each do |product| %>
        <p><%= product.name %></p>
      <% end %>


<!--   here come the possibility to choose between wine regions -->
    <% elsif @categories[0].super_category.name == 'Wein' %>
        <% @categories.each do|category| %>
          <% if category.products.present? %>
            <div class="category-name">
              <h2 ><%= category.name.upcase %></h2>
            </div>
          <% end %>
        <% end %>


<!--  non wine products -->
    <% else %>
      <% @categories.each do|category| %>
        <% if category.products.present? %>
          <div class="category-name">
            <h2 ><%= category.name.upcase %></h2>
          </div>
          <%category.headers.uniq.each do |header| %>
            <h3 class="header-name"><%= header.name.upcase %></h3>
            <%header.products.each do |product| %>
              <div class="card-product">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                <div class="card-product-infos">
                  <h3><%= product.name %></h3>
                  <p><%= product.description %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <%end %>
    <% end %>


  </div>
  <div class="side"></div>
</div>


